<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
 <connectionStrings>
  <add name="NorthwindTradersConnectionString"
   connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=NorthwindTraders;Persist Security Info=True;User ID=eenns1;Password=CNT_123"
   providerName="System.Data.SqlClient"/>
  <add name="NorthwindTradersConnectionEmplo"
   connectionString="Data Source=&quot;data.net.nait.ca, 24680&quot;;Initial Catalog=NorthwindTraders;Persist Security Info=True;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
  <add name="NorthwindTradersConnectionString2"
   connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=NorthwindTraders;Persist Security Info=True;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
  <add name="eenns1_NorthwindConnectionString"
   connectionString="Data Source=&quot;data.net.nait.ca, 24680&quot;;Initial Catalog=eenns1_Northwind;Persist Security Info=True;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
  <add name="ICA10Connection"
   connectionString="Data Source=&quot;data.net.nait.ca, 24680&quot;;Initial Catalog=NorthwindTraders;Persist Security Info=True;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
  <add name="ICA10_Drop" connectionString="Data Source=&quot;data.net.nait.ca, 24680&quot;;Initial Catalog=NorthwindTraders;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
  <add name="eenns1_NorthwindDV" connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=eenns1_Northwind;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
  <add name="eenns1_NorthwindConnectionString2"
   connectionString="Data Source=&quot;data.net.nait.ca, 24680&quot;;Initial Catalog=eenns1_Northwind;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
  <add name="eenns1_NorthwindConnectionString3"
   connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=eenns1_Northwind;Persist Security Info=True;User ID=eenns1;Password=N@it123"
   providerName="System.Data.SqlClient"/>
 </connectionStrings>
    
   <system.web>
      <compilation debug="true" targetFramework="4.7.2"/>
      <httpRuntime targetFramework="4.7.2"/>
    </system.web>
 <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
